{% extends "base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSIG Nacional</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            font-size: 1.5rem;
            background-color: white;
        }
        
        .centered-text {
            text-align: center;
            padding: 20px;
            color: #333;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div class="centered-text">
        WebSIG Nacional em desenvolvimento.
    </div>
</body>

{% endblock %}